* {
  background-color: rgb(24, 5, 75);
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form .containerInput {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 20px 0px;
}

.inputLogin {
  margin: 5px;
}

form .containerButton {
  display: flex;
  flex-direction: column;
}

.buttonLogin {
  margin: 5px;
}