@import url(./root.css);

* {
  background-color: var(--login-Color5);
  box-sizing: border-box; 
  color: hsl(129, 85%, 69%);
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  position: relative;
}

.containerTypeLogin {
  background-color: hsl(0, 1%, 10%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 0;
  height: 12%;
  width: 10%;
}

.containerTypeLogin .buttonModLogin[type="button"]{
  font-family: monospace;
  font-size: 1rem;
  border: none; 
  cursor: pointer;
}

.containerTypeLogin .buttonModLogin[type="button"]::after {
  content: "---->";
  position: absolute;
  width: 3rem;
  height: 1.2rem;
}

.containerTypeLogin .buttonModLogin[type="button"]:hover {
  color: gray;
}

form {
  background-color: var(--login-Color3); border-radius: 10px;
  height: 60%;
  position: relative;
  width: 40%;
}

form .container_all {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 25px;
  position: absolute;
}

form .containerLogo {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 80%;
}

body img {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;
}

form .containerInput {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 20px 0px;
}

.containerInput input::placeholder {
  color: hsl(125, 39%, 52%);
}

.inputLogin {
  margin: 5px;
}

form .containerButton {
  border-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.buttonLogin {
  border-style: none;
  color: hsl(125, 83%, 70%);
  margin: 5px;
}

.buttonLogin:hover {
  cursor: pointer;
  color: hsla(125, 83%, 70%, 0.769);
}

#Register {
  display: none;
}